y@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  font-family:'lato',sans-serif;
}
.logo {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.textpage1 {
  width:30%;
  background-color:blue;
  height:82%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding:10px;
  font-size:20px;
}
.text {
  width:30%;
  height:82%;
  float:left;
  background-color:blue;
  text-align:center;
  padding:10px;
  font-size:20px;
 
  
